{%extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class = "content-section">
    <div class = "media">
        <img class="rounded-circle mr-3" src="{% if user.profile.img %}{{ user.profile.img.url }}{% else %}https://api.dicebear.com/7.x/pixel-art/svg?seed={{ user.username }}{% endif %}" alt="Profile Image" style="width: 100px; height: 100px;">
        <div class = "media-body">
            <h2 class = "account-heading">{{user.username}}</h2>
            <p class = "text-secondary">{{user.email}}</p>
        </div>
    </div>
</div>
{% endblock content %} 
